@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
   margin: 0;
   padding: 0;
}

body {
  font-family: "poppins", serif;
}


.header {
    border-bottom: 1px solid #ffffff2c;
}
.container {
    overflow: hidden;
    margin:auto;
}

.logo h6 {
   font-weight: 500;
   font-size: 30px;
   font-family: "Anton", serif;
   margin-bottom: 0px;
}
.nav-menu {
   margin: 0px;
}


/* hero code start  */
.hero-text h1 {
   font-weight: 700;
   font-size: 90px;
   margin-bottom: 20px;
}

.hero-text span {
   color: #116a73;
}

.hire-btn {
   text-decoration: none;
   color: white;
   background-color: #00ADB5;
   border-radius: 25px;
   padding: 10px 20px;
   font-weight: 400;
   display: inline-block;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
   font-size: 18px;
}
.download-btn {
  text-decoration: none;
  color: white;
  background-color:#393E46;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 18px;
}


.hero-img {
   width: 400px;
   height: auto;
}


.custom-row {
    position: relative;
}

.down-arrow {
   position: absolute;
   bottom: 60px;
   left: 27%;
}
.down-arrow i {
   width: 96px;
   height: 96px;
   background-color: #393E46;
   color: white;
   padding: 20px;
   font-size: 20px;
}

 .hero-area-text {
   margin-left: 78px;
}

.hero-img-area {
    padding-top: 230px;
    padding-right: 50px;
} 
/* hero code start  */

/* abot section */

.about-text-area h2 {
    font-weight:700;
    font-size: 50px;
    line-height: 96px;
}
.about-text-area span {
    color: #00ADB5;
}

.about-img-area img {
    width: 700px;
    padding:83px 121px 62px 121px
}

.about-img-area {
    background-image: url(/assets/about-bg.png);
    /* width: 665px; */
}
/* abot section */


/* work sectio  */
.work-section {
    background-image: url(/assets/Image20250209221709.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.custom-text h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 96px;
    margin-bottom: 18px;
}
.custom-text span {
    color: #00ADB5;
}
.sub-menu li a {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5);
}

.sub-menu li {
   background-color:#393E46;
   padding: 10px 30px;
   border-radius: 30px;
}


.sub-menu li:first-child {
    background-color: #00ADB5;
    padding: 10px 30px;
    border-radius: 30px;
}
.custom-row-1 {
    background-color: #393e4663;
}

.custom-row-1 img {
    padding: 61px 52px 61px 52px;
}

/* work sectio  */

@media (max-width:991px) {
  .nav-menu li {
     display: none;
  }
}

@media (max-width:375px) {
 .hero-area-text {
   margin-left: 0px;
}


.hero-text h1 {
   font-weight: 700;
   font-size: 55px;
   margin-bottom: 20px;
}

.down-arrow {
   position: absolute;
   bottom: 24px;
   left: 27%;
}

.about-img-area img {
   width: 100% !important;
   padding:83px 121px 62px 121px !important;
}


.sub-menu li {
   background-color:#393E46;
   padding: 10px 10px;
   border-radius: 30px;
}


.sub-menu li:first-child {
    background-color: #00ADB5;
    padding: 10px 20px;
    border-radius: 30px;
}
}